<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8 col-lg-10">
        <span class="text-muted">{{title}} - Copyright © {{copyrightYear.value}} <a
          href="https://github.com/hssamconf/angular-course-project">RAFIKI Houssam</a>.</span>
      </div>
      <div class="col-4 col-lg-2 text-right">
        <div class="input-group input-group-sm mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">©</span>
          </div>
          <input type="number" class="form-control disabled" value="2018" placeholder="YYYY" #copyrightYear readonly>
        </div>
      </div>
    </div>
  </div>
</footer>
